 


importMethodsFrom(AnnotationDbi, colnames, get, mget, ncol, nrow)

importMethodsFrom(DBI, summary)

importMethodsFrom(graph, acc, addEdge, edgeMatrix, nodeData,
                  "nodeData<-", nodeDataDefaults, "nodeDataDefaults<-",
                  nodes, "nodes<-", numNodes, subGraph, union)

#importMethodsFrom(RSQLite, format)

importFrom(grDevices, replayPlot)

importFrom(methods, new, showClass, showMlist)

importFrom(stats, as.ts, coef, dendrapply, deviance, end, formula,
           frequency, IQR, is.leaf, knots, na.omit, naprint, pf, pnorm,
           print.anova, printCoefmat, pt, quantile, reformulate,
           residuals, start, symnum, terms, time, ts, tsp,
           write.ftable)

importFrom(tools, file_path_sans_ext)

importFrom(utils, browseURL, data, menu, str, toBibtex,
           zip.file.extract)


export("getKOprobes","indRender","keggDF2graph","getKOtags")
